@model DomainLibrary.Models.Profile
@using Microsoft.AspNet.Identity
@{ 
    ViewBag.Title = "EditProfile";
}


<h2> Ändra profil</h2>
@using (Html.BeginForm("Create", "User", new { id = User.Identity.GetUserId() }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Presentation)
    </dt>
    
    <dd>
        @Html.TextBoxFor(model => model.Presentation)

    </dd>

    <dt>
        @*@Html.DisplayNameFor(model => model.Image)*@
    </dt>

    <dd>
            @*<fieldset>
                <legend> din bild </legend>
                <label for="Image">Image</label>
                <input type="file" id="avatar" name="upload" />
                <br />
                <input type="submit" value="Spara profil" />
            </fieldset>*@



        <div class="form-group">
            @Html.Label("Avatar", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Avatar" name="upload" />
            </div>
        </div>

        <input type="submit" value="Spara profil" />

    </dd>
</dl>
}



