@model DatingApp.ViewModels.ProfileViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "EditProfile";
}


<h2> Ändra profil</h2>
@using (Html.BeginForm("Create", "User", new { id = User.Identity.GetUserId() }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profile.Presentation)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.Profile.Presentation)

        </dd>

        <dt>
            Sökbar? @Html.CheckBox("Searchable", Model.ApplicationUser.Searchable); 
        </dt>

        <dd>

            <div class="form-group">
                 @Html.Label("Avatar", new { @class = "control-label col-md-2" })
                <div id="file-upload-div" class="col-md-10">
                    <label for="file-upload" class="btn btn-default">Ladda upp bild</label>
                    <input type="file" id="file-upload" name="upload" />
                </div>
            </div>

            <input type="submit" class="btn btn-default" value="Spara profil" />

        </dd>
    </dl>
}