@model DomainLibrary.Models.Profile

@{
    ViewBag.Title = "EditProfile";
}

<h2>Ändra profil</h2>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Presentation)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Presentation)
    </dd>
</dl>
<div><input id="SavePic" type="button" value="Spara" /></div>


