@using DatingApp.Internationalization;
@model List<DomainLibrary.Models.Profile>
@{ DomainLibrary.Repositories.ProfileRepository profileRepository = new DomainLibrary.Repositories.ProfileRepository(); }
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ferry dating</h1>
    <p> @Appresources.IndexWelcome </p>
    <div>
        <div>
            <ul id="example-profiles">
                @{
                    foreach (var item in Model)
                    {
                        <li class="example-profile">
                            <a href="@Url.Action("Index", "User", new { id = item.Id })">
                            <img src="@profileRepository.GetImageSrc(item)" alt="avatar" height="57" width="57" />
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
