@model List<string>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ferry dating</h1>
    <p> Välkommen till Ferry dating. Din båtdating på nätet! </p>
    <div>
        <div>
            <ul>
                @{
                    foreach (var item in Model)
                    {
                        <li>
                            <img src="@item" alt="avatar" height="57" width="57" />
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
